$mainColor: whitesmoke;

.navbar {
  height: 5em;
  background-color: $mainColor;
  img {
    height: 100%
  }
}

.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.footer {
  height: 5em;
  background-color: $mainColor;
  img {
    height: 100%;
    float: right
  }
}